.header {
  background-image: url(/images/pncPic.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.about-welcome {
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 400px;
  padding-bottom: 426px;
  font-size: 90px;
  font-weight: bold;
  background: linear-gradient(to right, rgba(23, 23, 23, 0.5803921569), rgba(26, 27, 27, 0.6117647059));
  color: rgba(255, 255, 255, 0.559);
}

@media (min-width: 200px) and (max-width: 960px) {
  .header {
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  .about-welcome {
    padding: 100px 80px 180px 100px;
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .about-welcome {
    padding: 168px 80px 180px 100px;
    font-size: 30px;
  }
}
.mission {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 100px 80px 0px 80px;
}

.title,
.titles {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #0b8aad, #1e6f8f, #038c93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mission-detail {
  display: flex;
}

.mission-left {
  flex: 1.25;
}

.mission-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  justify-content: center;
}

.mission-des-head {
  font-size: larger;
  font-weight: bold;
  color: rgb(225, 150, 10);
}

@media (min-width: 300px) and (max-width: 800px) {
  .mission {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0px 0px 0px;
  }
  .titles {
    font-size: 20px;
  }
  .left {
    width: 180px;
    height: 140px;
  }
  .mission-right {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }
  .mission-des-head {
    font-size: 10px;
  }
  .mission-text {
    font-size: x-small;
    padding-top: 5px;
  }
  #runs {
    width: 60px;
    height: 40px;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .left {
    width: 360px;
    height: 200px;
  }
}
.my-values {
  display: flex;
  margin: 100px 80px 0px 80px;
  gap: 20px;
}

.value-one {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.values-icon {
  display: flex;
  justify-content: center;
}

.values-describe {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.value-head {
  font-size: larger;
  font-weight: bold;
  color: rgb(225, 150, 10);
  text-align: center;
}

@media (min-width: 300px) and (max-width: 800px) {
  .my-values {
    display: flex;
    gap: 0px;
    margin: 20px 0px 0px 0px;
  }
  .value-head {
    font-size: 12px;
    text-align: center;
  }
  .value-text {
    font-size: x-small;
    padding-left: 10px;
    color: rgb(49, 49, 49);
  }
  #run {
    width: 40px;
    height: 40px;
  }
  .value-one {
    display: flex;
    gap: 0px;
    flex-direction: column;
    align-items: center;
  }
  .values-describe {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
footer {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, rgba(14, 101, 125, 0.4509803922), rgba(29, 80, 100, 0.6274509804), rgba(7, 115, 121, 0.4392156863));
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.foot-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.left-foot {
  display: flex;
}

.foot-name {
  display: flex;
  align-items: center;
}

.foot-contact-icons {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.foot-contacts {
  display: flex;
  gap: 20px;
}

.text {
  display: flex;
  align-items: center;
}

.foot-title {
  color: orange;
}

.foot-name {
  color: rgb(4, 111, 177);
  font-weight: bold;
}

@media (min-width: 300px) and (max-width: 800px) {
  footer {
    padding: 10px;
    margin-top: 20px;
  }
  #icon {
    width: 15px;
    height: 15px;
  }
  p {
    font-size: x-small;
  }
  .foot-right {
    display: flex;
    gap: 0px;
  }
  .foot-contact-icons {
    display: flex;
    gap: 0px;
  }
  .foot-name {
    font-size: 6px;
  }
  #icons {
    width: 20px;
    height: 20px;
  }
  .foot-title {
    font-size: 10px;
  }
  .text {
    font-size: x-small;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  position: fixed;
  width: 100%;
  height: 10%;
  background: linear-gradient(to right, rgba(15, 171, 214, 0.2588235294), rgba(38, 150, 194, 0.2745098039), rgba(8, 216, 227, 0.4784313725));
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: 40px;
  flex: 1;
}

.nav-right {
  display: flex;
  color: rgb(4, 111, 177);
  font-weight: bold;
  flex: 1;
}

.nav-name {
  display: flex;
  align-items: center;
  font-size: x-large;
}

a {
  color: orange;
  text-decoration: none;
  font-size: larger;
}

marquee {
  padding-top: 80px;
  color: #1b76b3;
}

@media (min-width: 300px) and (max-width: 800px) {
  nav {
    display: flex;
    font-size: smaller;
    margin: 0px;
    padding: 0px;
  }
  .nav-right {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .nav-left {
    flex: 2;
    display: flex;
    gap: 20px;
  }
  .web-logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  .nav-name {
    font-size: smaller;
  }
  a {
    font-size: smaller;
  }
  marquee {
    font-size: small;
  }
}
.my-challenges {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 100px 220px 0px 220px;
}

.challenges-above {
  display: flex;
  gap: 200px;
}

.challenge-left {
  flex: 1;
  background: linear-gradient(to right, rgba(22, 114, 140, 0.8), rgba(133, 127, 9, 0.6431372549), rgba(11, 183, 192, 0.4392156863));
  padding: 80px 40px 80px 40px;
  border-radius: 60px 0px 60px 0px;
  color: white;
}

.challenge-right {
  flex: 1;
  padding: 80px 40px 80px 40px;
  background: linear-gradient(to right, rgba(22, 114, 140, 0.8), rgba(133, 127, 9, 0.6431372549), rgba(11, 183, 192, 0.4392156863));
  border-radius: 60px 0px 60px 0px;
  color: white;
}

@media (min-width: 300px) and (max-width: 800px) {
  .my-challenges {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0px 0px 0px;
  }
  .challenges-above {
    display: flex;
    gap: 40px;
  }
  .challenge-left, .challenge-right {
    flex: 1;
    background: linear-gradient(to right, rgba(22, 114, 140, 0.8), rgba(133, 127, 9, 0.6431372549), rgba(11, 183, 192, 0.4392156863));
    padding: 10px 10px 10px 10px;
    border-radius: 10px 0px 10px 0px;
    color: white;
    font-size: x-small;
  }
  .title {
    font-size: 20px;
  }
}
.my-achievenments {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 120px 80px 0px 80px;
}

.achievenments-above {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (min-width: 300px) and (max-width: 800px) {
  .my-achievenments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0px 0px 0px;
  }
  .achievenments-above {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .achievenments {
    width: 80px;
    height: 80px;
  }
}
body {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=about.css.map */