@import "components/_nav";
@import "components/_head-home";
@import "components/_main";
@import "components/_education";
@import "components/_maps";
@import "components/_footer";

body{
    padding: 10px 20px 20px 20px;
    margin: 0px;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
}