.about-welcome {
    background-image: url('Sass/About-pictures/pncPic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;

}
.head{
    background-image: url(../About-pictures/pncPic.png);
}